%% -*- erlang -*-

{erl_opts, [debug_info,
            warn_untyped_records]}.

{xref_checks, [undefined_function_calls]}.

{deps,
 [{jiffy, ".*",
   {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}}]}.

{edoc_opts, [{doclet, edown_doclet},
             {stylesheet, ""},
             {image, ""},
             {src_path, "src"},
             {sort_functions, false},
             {pretty_printer, erl_pp},
             {preprocess, true}]}.
